<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace="layouts/layout::head"></head>

    <body>

        <nav th:replace="layouts/layout::topBar"></nav>

        <nav th:replace="layouts/layout::navBar"></nav>

        <div class="container m-5">

            <table class="table table-dark">

                <thead>
                    <tr>
                        <th scope="col">Id del autor</th>
                        <th scope="col">Nombre del autor</th>
                        <th scope="col" sec:authorize="hasRole('ADMIN')">Acciones</th>

                    </tr>
                </thead>
                <tbody th:each="autor : ${autores}">
                    <tr>
                        <th scope="row" th:text="${autor.id}"></th>
                        <td th:text="${autor.nombre}"></td>
                        <td sec:authorize="hasRole('ADMIN')">
                            <a th:href="@{/autor/editar/__${autor.id}__}"><i class="bi bi-pen"></i> Modificar</a>

                        </td>

                    </tr>

                </tbody>


            </table>

        </div>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    </body>

</html>