<!DOCTYPE html>
<html xmlns: th="http://www.thymeleaf.org">

    <head th:replace="layouts/layout::head"></head>

    <body>

        <nav th:replace="layouts/layout::topBar"></nav>

        <nav th:replace="layouts/layout::navBar"></nav>

        <h2 class="text-center mt-4">Agregar Libro</h2>

        <div class="container">
            <form th:action="@{/libro/editar/__${libro.isbn}__}" method="POST"
                  class="container col-8 col-lg-6 d-flex flex-column ">

                <input hidden th:value="${isbn}" name="isbn">

                <div th:if="${error != null}" class="card text-white bg-danger container mb-3">
                    <div class="card-body">
                        <h5 class="card-title">ERROR! &#9888;</h5>
                        <p class="card-text" th:text="${error}"></p>
                    </div>
                </div>
                <div th:if="${exito != null}" class="card text-white bg-success container mb-3">
                    <div class="card-body">
                        <h5 class="card-title">EXITO! &#9989;</h5>
                        <p class="card-text" th:text="${exito}"></p>
                    </div>
                </div>


                <label class="mt-2" for="titulo">Titulo de libro</label><input th:value="${libro.titulo}" name="titulo"
                                                                               type="text" id="titulo"
                                                                               class="form-control"
                                                                               placeholder="Titulo del libro">
                <label class="mt-2" for="ejemplares">Ingrese numero de ejemplares</label><input
                    th:value="${libro.cantEjemplares}" name="ejemplares"
                    type="number" id="ejemplares" class="form-control" placeholder="numero de ejemplares">

                <div class="form-group mt-2">
                    <select class="text-muted" name="idAutor">
                        <option th:each="autor : ${autores}" th:value="${autor.id}" th:text="${autor.nombre}" th:selected="${libro.autor.nombre}"></option>

                    </select>
                </div>
                <div class="form-group mt-2">
                    <select class="text-muted" name="idEditorial">

                        <option th:each="editorial : ${editoriales}" th:value="${editorial.id}"
                                th:text="${editorial.nombre}" th:selected="${libro.editorial.nombre}"></option>
                    </select>
                </div>


                <input class="btn btn-success mt-2" type="submit" value="Guardar" name="guardar">


            </form>


        </div>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    </body>

</html>